html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fff;
  font-family: 'Livvic', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

:root {
  --color-white: #fff;
  --color-red: #f67e7e;
  --opacity08: 0.8; 
}

.container {
  max-width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
}
.site-header {
  padding-top: 72px;
  position: relative;
  background-color: #014E56;
}

.logo-img {
  width: 160px;
  height: 40px;
}

.header-descrip {
  position: relative;
}

.btn-menu {
  display: none;
}

#btn-menu {
  cursor: pointer;
  font-size: 30px;
  color: white;
  position: absolute;
  right: 0;
  transform: translate(-50%, -50%);
}

.site-header::after {
  content: '';
  background-image: url("../img/home/header-up.png");
  width: 358px;
  height: 200px;
  position: absolute;
  top: 40%;
  left: 0;
  background-repeat: no-repeat;
}

.nav__list {
  margin-left: 80px;
  align-items: start;
}

.nav__item:nth-child(2) {
  margin-left: 40px;
}

.nav-btn {
  color: var(--color-white);
  font-weight: 600;
  /* margin-left: 576px; */
  font-size: 18px;  
  line-height: 28px;
  padding: 11px 33px;
  background-color: transparent;
  border-radius: 24px;
  border: 1px solid var(--color-white);
  transition: color 0.3s ease,
              border 0.3s ease,
              background-color 0.3s ease;
}

.nav-btn:hover {
  color: #014E56;
  background-color: #fff;
  border-color: transparent;
}

.nav__link {
  color: var(--color-white);
  font-weight: 600;
  font-size: 18px;  
  line-height: 28px;
  transition: color 0.3s ease;  
}

.nav__link:hover {
  color: var(--color-red);
}

#hero {
  margin-top: 130px;
  padding-bottom: 250px;
  position: relative;
  overflow: hidden;
}

#hero::after {
  content: '';
  background-image: url("../img/home/header-down.svg");
  width: 358px;
  height: 200px;
  position: absolute;
  bottom: -100px;
  right: 0;
  background-repeat: no-repeat;
}

.hero__title {
  width: 600px;
  color: var(--color-white);
  font-weight: bold;
  font-size: 100px;
  line-height: 100px;
}

.hero__subtitle {
  color: var(--color-red);
}

.hero__line {
  background-color: #79C8C7;
  width: 50px;
  height: 4px;
  margin-bottom: 80px;
}

.hero__text {
  width: 445px;
  color: var(--color-white);
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}

.manage {
  background-color: #012F34;
  color: var(--color-white);
  padding: 140px 0;
  position: relative;
  overflow: hidden;
}

.manage::before {
  content: '';
  background-image: url("../img/home/main-img.png");
  width: 200px;
  height: 244px;
  position: absolute;
  right: -100px;
  bottom: 0;
  background-repeat: no-repeat;
}

.manage__line {
  width: 50px;
  height: 4px;
  background-color: var(--color-red);
}

.main__item {
  padding-left: 95px;
  position: relative;
}

.main__item::before {
  content: '';
  width: 72px;
  height: 72px;
  position: absolute;
  left: 0;
  display: inline-block;
  background-repeat: no-repeat;
}

.user::before {
  background-image: url("../img/home/user.svg");
}

.tools::before {
  background-image: url("../img/home/tools.svg");
}

.procent::before {
  background-image: url("../img/home/procent.svg");
}

.manage__title {
  width: 445px;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
}

.main__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: var(--color-red);
}

.main__text {
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: var(--color-white);
  opacity: var(--opacity08);
}

.main__list {
  width: 540px;
}

.stories {
  background-color: #004047;
  color: var(--color-white);
  padding: 140px 0;
  position: relative;
  overflow: hidden;
}

.stories::before {
  content: '';
  background-image: url("../img/home/stories-down.svg");
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: -100px;
  right: 0;
  background-repeat: no-repeat;
}

.stories__title {
  margin: 0;
  width: 922px;
  color: var(--color-white);
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  margin-bottom: 92px;
}

.stories__subtitle {
  color: #79C8C7;
}

.stories__item {
  width: 350px;
  position: relative;
  z-index: 1;
}

.stories__item::before {
  content: '';
  background-image: url("../img/home/down-img.png");
  width: 67px;
  height: 56px;
  position: absolute;
  z-index: -1;
  left: 40%;
  top: -20px;
  background-repeat: no-repeat;
}

.stories::after{
  content: '';
  background-image: url("../img/home/stories-up.svg");
  width: 147px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
}

.stories__text {
  color: var(--color-white);
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
}

.stories__subtitles {
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #79C8C7;
  margin-bottom: 0;
}

.stories__subtext {
  font-style: italic;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 32px;
}

.contact {
  padding: 76px 0;
  position: relative;
  overflow: hidden;
  background-color: var(--color-red);
}

.contact::before {
  content: '';
  background-image: url("../img/home/contact-img.svg");
  width: 200px;
  height: 244px;
  position: absolute;
  bottom: -122px;
  left: 0;
  background-repeat: no-repeat;
}

.contact__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  color: #012F34;
  margin: 0;
}

.contact__link {  
  color: #012F34;
  font-weight: 600;
  font-size: 18px;  
  line-height: 28px;
  padding: 11px 33px;
  background-color: transparent;
  border-radius: 24px;
  border: 1px solid #012F34;
  transition: color 0.3s ease,
              border 0.3s ease,
              background-color 0.3s ease;
}

.contact__link:hover {
  color: var(--color-red);
  background-color: #012F34;
  border-color: transparent;
}

.footer {
  padding: 50px 0;
  color: var(--color-white);
  background-color: #002529;
}

.adress__list {
  margin-right: 125px;
}

.social-sec {
  text-align: end;
  margin-left: 127px;
}

.social__list {
  margin-left: 181px;
  margin-bottom: 51px;
}

.adress__item {
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: var(--color-white);
  opacity: 0.6;
}

.social__text {
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  text-align: right;
  color: var(--color-white);
  mix-blend-mode: normal;
  opacity: 0.6;
}

.social__item {
  margin-right: 16px;
}

.social-icon {
  fill: var(--color-white);
  transition: fill 0.3s ease;
}

.social-icon:hover {
  fill: var(--color-red);
}

/* MEDIA */

@media screen and (max-width: 1150px) and (min-width: 768px) {
  .container {
    max-width: 90%;
  }

  #hero {
    padding: 0;
    margin: 0;
  }
  
  .hero-info {
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .hero__title {
    width: 350px;
    margin-top: 112px;
    font-weight: bold;
    font-size: 64px;
    line-height: 56px;
    text-align: center;
    color: #FFFFFF;
  }

  .hero__text {
    width: 457px;
    font-weight: 600;
    font-size: 15px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 150px;
  }

  .site-header::after {
    display: none;
  }
  .hero__line {
    display: none;
  }

  #hero::after {
    transform: translate(-50%, 0);
    right: 0;
  }

  .manage {
    padding: 100px 0;
  }

  .main-sec {
    align-items: center;
    margin: 0 auto;
    justify-content: center;
  }

  .manage__title {
    font-weight: bold;
    font-size: 32px;
    line-height: 32px;
  }

  .manage::before {
    top: 0;
  }

  .stories {
    padding-bottom: 50px;
  }

  .stories-desc {
    justify-content: center;
  }

  .stories__list {
    justify-content: center;
  }

  .stories__item {
    width: 570px;
    margin-bottom: 48px;
  }

  .stories__item::before {
    left: 50%;
    transform: translate(-50%);
  }

  .footer-content {
    margin: 0;
    justify-content: space-between;
    align-items: center;
  }

  .contact__title {
    font-weight: bold;
    font-size: 32px;
    line-height: 32px;
  }

  .social-sec {
    display: flex;
    /* margin: 0 auto; */
    justify-content: space-between;
  }

  .social__list {
    flex-grow: 1;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) and (min-width: 375px) {
  .container {
    width: 90%;
  }

  .btn-menu {
    display: block;
  }
  
  .logo-img {
    width: 128px;
    height: 30px;
  }

  .nav__list,
  .nav-btn {
    display: none;
  }

  #hero {
    margin: 0;
    padding-top: 80px;
    padding-bottom: 140px;
  }

  .hero-info {
    display: flex;
    justify-content: center;
  }

  .hero__title {
    width: 230px;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
  }

  .hero__line {
    display: none;
  }

  .site-header::after {
    display: none;
  }

  .hero__text {
    text-align: center;
    justify-content: center;
    display: flex;
    margin: 0 auto;
    width: 327px;
    font-weight: 600;
    font-size: 15px;
    line-height: 28px;
  }

  .manage {
    padding: 100px 0;
    justify-content: center;
    display: flex;
  }

  .manage::before {
    top: 0;
  }

  .manage__title {
    width: 240px;
    font-weight: bold;
    font-size: 32px;
    line-height: 32px;
  }

  .main__list {
    margin: 0 auto; 
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .main__item {
    padding: 0;
    margin: 0 auto; 

    justify-content: center;
  }

  .main__text {
    margin: 0 auto; 
    width: 327px;
    margin-bottom: 48px;
  }

  .user::before,
  .tools::before,
  .procent::before {
    margin: 0 auto; 
    position: relative;
    display: block;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .stories {
    padding-bottom: 100px;
  }

  .stories__title {
    width: 327px;
    font-weight: bold;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
  }

  .stories__item {
    margin: 0 auto;
    margin-bottom: 48px;
  }

  .contact__title {
    display: block;
    width: 210px;
    font-weight: bold;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .contact__sec {
    display: block;
    margin: 0 auto;
    justify-content: center;
  }

  .contact__link {
    width: 156px;
    display: flex;
    margin: 0 auto;
  }

  .footer-content {
    margin: 0 auto;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .adress__list {
    width: 100%;
    justify-content: center;
    text-align: center;
    display: block;
    margin: 0 auto;
  }

  .adress__item {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  .social-sec {
    margin: 0 auto;
  }

  .social__list {
    display: flex;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 16px;
    justify-content: center;
  }

  .social__text {
    margin: 0 auto;
    display: flex;
    width: 100%;
    display: block;
  }
}